html, body {
    font-family: 'PT Sans', sans-serif;
    background-color: #fff;
}

.grid-pad-border {
    border: 1px solid black;
    padding-top: 0;
    margin-top: 15px;
}

.grid-pad-padding {
    padding: 20px;
}

#table-content table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
}

#table-content td {
    padding: 10px 0 10px 20px;
}

#table-content tr:nth-child(odd) {
    background-color: #fafafa;
}

#table-content tr:nth-child(even) {
    background-color: #e6e6e6;
}

#table-content tr:first-child td {
    font-weight: 600;
}

ul {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    overflow: hidden;
}

li {
    margin: 0 15px;
    display: inline-block;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #ffb717;
}

.green {
    color: green;
}

.red {
    color: red;
}

.menuBtn {
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.menuBtn:hover {
    color: #ffb717;
}

.menuBtn:focus {
    outline: 0;
}

.login-text-box h1 {
    padding-left: 25px;
    text-align: center;
}

.loginBtn {
    background-color: transparent;
    border: 1px solid black;
    font-size: 16px;
    padding: 2px 35px;
    cursor: pointer;
    margin-top: 10px;
}

.loginBtn:focus {
    outline: 0;
}

.loginBtn:hover {
    background-color: #ffb717;
}

.login-form table {
    margin: 0 auto;
}