<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags" xmlns="http://www.w3.org/1999/html">

<head>
    <title>exchange</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <!-- FONT -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <link href="../../css/font-awesome.css" th:href="@{/css/font-awesome.css}" rel="stylesheet" type="text/css">
    <!-- GRID -->
    <link href="../../css/simplegrid.css" th:href="@{/css/simplegrid.css}" rel="stylesheet" type="text/css"
          media="all"/>
    <!-- CSS -->
    <link href="../../css/main.css" th:href="@{/css/main.css}" rel="stylesheet" type="text/css" media="all"/>
</head>
<body>

<div class="grid grid-pad">
    <div class="col-1-3 grid-pad-border login-text-box">
        <h1>BUY</h1>
    </div>
</div>

<div class="grid grid-pad">
    <div class="col-1-3 grid-pad-border grid-pad-padding">

        <form name="f" th:object="${buyItem}" th:action="@{/panel/buy}" method="POST" class="left-form">
            <table>
                <tr>
                    <td><label for="code">CODE: </label></td>
                    <td><input id="code" type="text" th:field="*{code}" name="code" required="required" value="" readonly></td>
                </tr>
                <tr>
                    <td><label for="fullname">NAME: </label></td>
                    <td><input id="fullname" type="text" th:field="*{fullname}" name="fullname" required="required" value="" readonly></td>
                </tr>
                <tr>
                    <td><label for="unit">PRICE: </label></td>
                    <td><input id="price" type="text" th:field="*{price}" name="price" required="required" value="" readonly></td>
                </tr>
                <tr>
                    <td><label for="unit">UNIT: </label></td>
                    <td><input id="unit" type="text" th:field="*{unit}" name="unit" required="required" value=""></td>
                </tr>
                <tr>
                    <td><a th:href="@{/panel}" class="profile-btn"><i class="fa fa-caret-left" aria-hidden="true"></i> Back</a></td>
                    <td><button type="submit" class="btn left-form-btn" style="margin: 0;"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Buy</button></td>
                </tr>
            </table>
        </form>

    </div>
</div>

<script src="../../scripts/buy-script.js" th:src="@{/scripts/buy-script.js}"></script>

</body>
</html>