<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>exchange</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <!-- FONT -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <link href="../../css/font-awesome.css" th:href="@{/css/font-awesome.css}" rel="stylesheet" type="text/css">
    <!-- GRID -->
    <link href="../../css/simplegrid.css" th:href="@{/css/simplegrid.css}" rel="stylesheet" type="text/css"
          media="all"/>
    <!-- CSS -->
    <link href="../../css/main.css" th:href="@{/css/main.css}" rel="stylesheet" type="text/css" media="all"/>
</head>

<body>
    <h1>PROFILE</h1>
</body>
</html>