<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>exchange</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <!-- FONT -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <link href="../../css/font-awesome.css" th:href="@{/css/font-awesome.css}" rel="stylesheet" type="text/css">
    <!-- GRID -->
    <link href="../../css/simplegrid.css" th:href="@{/css/simplegrid.css}" rel="stylesheet" type="text/css"
          media="all"/>
    <!-- CSS -->
    <link href="../../css/main.css" th:href="@{/css/main.css}" rel="stylesheet" type="text/css" media="all"/>
</head>

<body>

<div class="grid grid-pad grid-pad-border">
    <div class="col-1-1">
        <div class="content">
            <h1><i class="fa fa-gg-circle" aria-hidden="true"></i>EXCHANGE</h1>
        </div>
    </div>
</div>

<div class="grid grid-pad grid-pad-border">
    <div class="col-1-1">
        <div class="content">
            <ul class="left">
                <li><a href="/" th:href="@{/}"><i class="fa fa-home" aria-hidden="true"></i> HOME</a></li>
            </ul>

            <ul class="right">
                <li>
                    <form th:action="@{/logout}" method="POST">
                        <button type="submit" class="menuBtn"><i class="fa fa-sign-out" aria-hidden="true"></i> LOGOUT
                        </button>
                    </form>
                </li>
            </ul>

            <div class="clear"></div>
        </div>
    </div>
</div>

<div class="grid grid-pad grid-pad-border">
    <div class="col-1-1">
        <h3><i class="fa fa-cog" aria-hidden="true"></i> SETTINGS</h3>
        <p>USERNAME: <span th:text="${username}">u</span></p>
        <p>EMAIL: <span th:text="${email}">e</span></p>
    </div>
</div>

<div class="grid grid-pad grid-pad-border">
    <div class="col-1-1">
        <h3><i class="fa fa-money" aria-hidden="true"></i> WALLET</h3>
        <p>WALLET: <span th:text="${wallet}">w</span> PLN</p>
    </div>
</div>

<div class="grid grid-pad grid-pad-border">
    <div class="col-1-1">
        <h3><i class="fa fa-superpowers" aria-hidden="true"></i> TRANSACTIONS</h3>

    </div>
</div>

</body>
</html>