<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>exchange</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <!-- FONT -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <link href="../../css/font-awesome.css" th:href="@{/css/font-awesome.css}" rel="stylesheet" type="text/css">
    <!-- GRID -->
    <link href="../../css/simplegrid.css" th:href="@{/css/simplegrid.css}" rel="stylesheet" type="text/css"
          media="all"/>
    <!-- CSS -->
    <link href="../../css/main.css" th:href="@{/css/main.css}" rel="stylesheet" type="text/css" media="all"/>
</head>

<body>

<div class="grid grid-pad">
    <div class="col-1-1">
        <div id="main-content" class="content">
            <p>REGISTER</p>
            <div>
                <form name="f" th:action="@{/register}" th:object="${newUserDto}" method="POST">
                    <table>
                        <tr>
                            <td>USERNAME:</td>
                            <td><input type="text" th:field="*{username}" name="username" required="required" value="">
                            </td>
                        </tr>
                        <tr>
                            <td>PASSWORD:</td>
                            <td><input type="password" th:field="*{password}" name="password" required="required"
                                       value="">
                            </td>
                        </tr>
                        <tr>
                            <td>REPEAT PASSWORD:</td>
                            <td><input type="password" th:field="*{matchingPassword}" name="matchingPassword"
                                       required="required" value=""></td>
                        </tr>
                        <tr>
                            <td colspan="2"><input class="btn-cls" name="submit" type="submit" value="REGISTER"></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>